input[type='button']{
    background-color: orange;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border: 0;
    padding: 8px 20px;
    border-radius: 50px;
}

button{
    text-align: center;
    align-self: flex-start;
    background-color: orange;
    font-weight: bold;
    color: white;
    font-size: 14px;
    border: 0;
    padding: 10px 40px;
    border-radius: 25px;
}
.section1{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-left: 20px;
    font-family: Helvetica;
}


.section2{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Helvetica;
    margin-top: 100px;
    margin-left: 25px;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
    color: white;
    font-size: 20px;
    font-family: helvetica;

}

.section4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    margin-left: 15%;
    align-items: left;
    color: white;
    text-align: left;
    font-family: Helvetica;

}

.section5{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
    margin-left: 5%;
    align-items: left;
    color: white;
    font-family:Helvetica;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-1{
    font-size: 50px;
    margin-bottom: 0px;
}


.headline-2{
    font-size: 50px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-weight: bold;
}

.headline-3{
    font-size: 18px;
    color: hsl(258, 93%, 71%);
}

body{
    background-color: #4912F6;
}